Repository xiaotiantakumi/WebLinkCollector: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:core

:art: Refactor code for format
  bin/web-link-collector.ts
  src/cli/args.ts
  src/cli/configLoader.ts
  src/collector.ts
  src/fetcher.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write, npm run test:core

:art: Update .gitignore to include temporary files
  .gitignore
Due: none

プロジェクト設定の更新と開発環境の改善 (#1)
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  README.md
  bin/web-link-collector.ts
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  src/cli/args.ts
  src/cli/configLoader.ts
  src/collector.ts
  src/fetcher.ts
  src/filter.ts
  src/index.ts
  src/logger.ts
  src/parser.ts
  src/types.ts
  tests/cli/args.test.ts
  tests/cli/configLoader.test.ts
  tests/fetcher.test.ts
  tests/filter.test.ts
  tests/logger.test.ts
  tests/parser.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npm run test:core

:art: Update .gitignore to remove .vscode and add config.yaml
  .gitignore
Due: none

:truck: Remove .vscode from .gitignore
  .gitignore
Due: none

:sparkles: Add ts-node dependency and enhance CLI argument validation
  package-lock.json
  package.json
  src/cli/args.ts
Due: eslint --fix, prettier --write, npm run test:core

:sparkles: Add launch configuration for debugging in VSCode
  .vscode/launch.json
Due: prettier --write

VSCodeデバッグ設定の追加とCLI引数検証の強化 (#2)
  .gitignore
  .vscode/launch.json
  package-lock.json
  package.json
  src/cli/args.ts
Due: eslint --fix, prettier --write, npm run test:core

🔧: chore: Fix husky configuration warnings
  .husky/pre-commit
  .husky/pre-push
  bin/web-link-collector.ts
  src/collector.ts
  tests/filter.test.ts
Due: eslint --fix, prettier --write, npm run test:core

✨: feat: Update Jest configuration and enhance CLI argument parsing tests
  jest.config.js
  src/cli/args.ts
  tests/cli/args.test.ts
Due: eslint --fix, prettier --write, npm run test:core

✨: feat: Enhance logging for configuration loading and link collection process
  bin/web-link-collector.ts
  src/cli/configLoader.ts
  src/collector.ts
  src/fetcher.ts
  src/types.ts
Due: eslint --fix, prettier --write, npm run test:core

✨: feat: Improve link extraction and filtering logic, enhance logging, and update README with configuration notes
  README.md
  src/cli/args.ts
  src/cli/configLoader.ts
  src/collector.ts
  src/fetcher.ts
  src/filter.ts
  src/logger.ts
  src/parser.ts
  tests/fetcher.test.ts
  tests/filter.test.ts
  tests/parser.test.ts
Due: eslint --fix, prettier --write, npm run test:core

✨: feat: Add common rules for WebLinkCollector project including testing, coding style, URL processing, error handling, performance considerations, and code quality
  .cursor/rules/common.mdc
Due: none

📝: docs: Add logging, testing, and documentation guidelines to common rules
  .cursor/rules/common.mdc
Due: none

📝: docs: Update README to include new options for skipping URLs in query parameters and hash fragments
  README-ja.md
  README.md
Due: prettier --write

🔧 chore: Update package.json
  package.json
Due: prettier --write

feat: ✨ Add TypeScript library usage example Adds an example of how to use WebLinkCollector as a library in a TypeScript project. Also updates README.md with instructions on how to run the example.
  README.md
  examples/library_usage_example.ts
Due: eslint --fix, prettier --write, npm run test:core

:sparkles: Add element option to specify HTML tag as starting point for link extraction
  README-ja.md
  README.md
  src/cli/args.ts
  src/collector.ts
  src/parser.ts
  src/types.ts
  tests/parser.test.ts
Due: eslint --fix, prettier --write, npm run test:core

:sparkles: Update README to include usage instructions for local installation with npx
  README-ja.md
  README.md
Due: prettier --write

:package: Prepare for npm package publishing
  README-ja.md
  README.md
  package.json
Due: prettier --write

:wrench: Update Jest config for ESM support
  jest.config.js
Due: eslint --fix, prettier --write, npm run test:core

:bug: Fix TypeScript types path in package.json
  package.json
Due: prettier --write

:arrow_up: Bump version to 1.0.1 in package.json
  package.json
Due: prettier --write

:bug: Fix module resolution path in package.json
  package.json
Due: prettier --write

:bug: Fix module type configuration for proper import resolution
  package.json
Due: prettier --write

:sparkles: Configure package as proper ESModule
  package.json
  tsconfig.json
Due: prettier --write

:arrow_up: Bump version to 1.0.4 in package-lock.json and 1.0.5 in package.json
  package-lock.json
  package.json
Due: prettier --write

:arrow_up: Bump version to 1.0.5 and optimize for Bun runtime
  .cursor/rules/test.mdc
  .lintstagedrc.json
  CLAUDE.md
  bin/web-link-collector.ts
  bun.lock
  package copy.json
  package-lock.json
  src/cli/args.ts
  src/cli/configLoader.ts
  src/collector.ts
  src/fetcher.ts
  src/filter.ts
  src/index.ts
  src/logger.ts
  src/parser.ts
  tests/cli/args.test.ts
  tests/cli/configLoader.test.ts
  tests/fetcher.test.ts
  tests/logger.test.ts
  tests/tsconfig.json
  tsconfig.json
  web-link-collector@1.0.5
Due: eslint --fix, prettier --write, npm run test:core

:fire: Remove obsolete package copy.json and update README for Bun usage
  README-ja.md
  README.md
  package copy.json
Due: prettier --write

:sparkles: Update launch configuration for Bun runtime
  .vscode/launch.json
Due: prettier --write

Fix/build_settings2 (#25)
  .cursor/rules/test.mdc
  .lintstagedrc.json
  .vscode/launch.json
  CLAUDE.md
  README-ja.md
  README.md
  bin/web-link-collector.ts
  bun.lock
  package-lock.json
  package.json
  src/cli/args.ts
  src/cli/configLoader.ts
  src/collector.ts
  src/fetcher.ts
  src/filter.ts
  src/index.ts
  src/logger.ts
  src/parser.ts
  tests/cli/args.test.ts
  tests/cli/configLoader.test.ts
  tests/fetcher.test.ts
  tests/logger.test.ts
  tests/tsconfig.json
  tsconfig.json
  web-link-collector@1.0.5
Due: eslint --fix, prettier --write, npm run test:core

:sparkles: Refactor logger and fetcher imports
  src/fetcher.ts
  src/logger.ts
Due: eslint --fix, prettier --write, npm run test:core

:sparkles: Refactor logger and fetcher imports (#26)
  src/fetcher.ts
  src/logger.ts
Due: eslint --fix, prettier --write, npm run test:core

Fix TypeScript declaration generation
  bun.lock
  examples/config.example.json
  examples/config.example.yaml
  examples/library_usage_example.ts
  examples/standalone-project-ts/.prettierrc
  examples/standalone-project-ts/README.md
  examples/standalone-project-ts/bun.lock
  examples/standalone-project-ts/eslint.config.js
  examples/standalone-project-ts/package-lock.json
  examples/standalone-project-ts/package.json
  examples/standalone-project-ts/plan.md
  examples/standalone-project-ts/src/advanced.ts
  examples/standalone-project-ts/src/index.ts
  examples/standalone-project-ts/src/types.ts
  examples/standalone-project-ts/tsconfig.json
  examples/standalone-project/README.md
  examples/standalone-project/advanced-example.js
  examples/standalone-project/index.js
  examples/standalone-project/package.json
  package.json
  src/builder.ts
  src/convenience.ts
  src/index.ts
  src/presets.ts
  src/types.ts
  src/utils.ts
  tests/integration-test.ts
  tests/phase1-test.ts
  tests/phase2-test.ts
  tests/phase3-test.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write, npm run test:core

1.0.7
  package-lock.json
  package.json
Due: prettier --write

:sparkles: Update dependencies and enhance type definitions
  examples/standalone-project-ts/package-lock.json
  examples/standalone-project-ts/src/advanced.ts
  examples/standalone-project-ts/src/types.ts
  package-lock.json
Due: eslint --fix, prettier --write, npm run test:core

Bug/filter (#28)
  bun.lock
  examples/config.example.json
  examples/config.example.yaml
  examples/library_usage_example.ts
  examples/standalone-project-ts/.prettierrc
  examples/standalone-project-ts/README.md
  examples/standalone-project-ts/bun.lock
  examples/standalone-project-ts/eslint.config.js
  examples/standalone-project-ts/package-lock.json
  examples/standalone-project-ts/package.json
  examples/standalone-project-ts/plan.md
  examples/standalone-project-ts/src/advanced.ts
  examples/standalone-project-ts/src/index.ts
  examples/standalone-project-ts/src/types.ts
  examples/standalone-project-ts/tsconfig.json
  examples/standalone-project/README.md
  examples/standalone-project/advanced-example.js
  examples/standalone-project/index.js
  examples/standalone-project/package.json
  package-lock.json
  package.json
  src/builder.ts
  src/convenience.ts
  src/index.ts
  src/presets.ts
  src/types.ts
  src/utils.ts
  tests/integration-test.ts
  tests/phase1-test.ts
  tests/phase2-test.ts
  tests/phase3-test.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write, npm run test:core

Update documentation and CLI usage examples
  README.md
  how-to-write-config.md
Due: prettier --write

Update documentation and CLI usage examples (#29)
  README.md
  how-to-write-config.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,yaml,yml})
  npm run test:core: any of: *.{js,ts}
